<<<<<<< HEAD
@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, c{ border:none; }

img{display: block;}

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

ul, ol ,li{ list-style:none; }

body { color:#333; font:12px PingFang-SC-Medium,Hiragino Sans GB,sans-serif; background:#fff;}

a { color:#666; text-decoration:none; }
/*清除浮动*/
.clear{clear:both}
*{box-sizing:border-box}
body,html{
    height: 100%;
    overflow: hidden;
    background:rgba(250, 250, 250, .5);
}



=======
body,html,a,img,h1,h2,h3,h4,h5,h6,p,ul,li,ol,
dl,dt,dd,form,input,table,tr,td,span,i,em,b,
strong{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
.fl{
    float: left;

}
.fr{
    float: right;
}
img{
    display: block;
}
>>>>>>> branch/jiangqin
/*****使用em标签实现垂直居中*****/
em{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}
/****清除浮动****/
.clear::after{
    content: ".";
    clear: both;
    display: block;
    height: 0;/**为了解决浏览器在font-size小于18默认为18**/
    overflow: hidden;
    visibility: hidden;
    font-size: 1px;
}
/***文字省略号**/
.ell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}